body{
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    
}
/* nav section  */
header{
    background-color: rgba(255, 144, 14, 0.10);
    padding: 40px 140px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav h3{
    color:  #131313;
    text-align: center;
    font-size: 2.8rem;
    font-weight: 600;
}
nav ul{
    display: flex;
    gap: 50px;
}
nav li{
    list-style: none;
    color:  #424242;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 26px;
}

/* tittle section  */
.banner-container{
    text-align: center;
    max-width: 862px;
    margin: 0 auto;
}
.tittle{
    color:  #131313;
    font-size: 4rem;
    font-weight: 700;
    margin: 10px;
}
.tittle-description{
    color:  #727272;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    margin-top: 16px;
    margin-bottom: 16px;
}
.primary-btn{
    width: 180px;
    height: 64px;
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
    border: none;
    margin-top: 16px;
    margin-bottom: 50px;
}
.banner-img{
    width: 100%;
}

/* main section */
main{
    max-width: 1503px;
    margin: 40px auto;
}
/* Teams style */
.teams-container{
    display: flex;
    align-items: center;
    gap: 78px;
    padding: 40px 140px;
}
.teams-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.teams-tittle{
    font-size: 2.8rem;
    margin-bottom: 24px;
}
.teams-tittle .quick{
    color: #727272;
    font-weight: 500;
}
.teams-tittle .of{
    color:  #131313;
    font-weight: 700;
}
.teams-tittle .features{
    color: #FF900E;
    font-weight: 700;
}
.teams-description{
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    margin-top: 24px;
    margin-bottom: 32px;
}
/* Features-Section */
.features-container{
    display: flex;
    gap: 100px;
    padding: 40px 140px;
    justify-content: end;
}
.features-content{
    width:50%
}
.features-tittle{
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
    border-left: 6px solid  #FF900E;
    padding-left: 24px;
}
.teams-description{
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
}
.features-card{
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    padding: 30px;
    margin-bottom: 20px;
}
.card-tittle{
    color: #131313;
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: 10px;
}
.card-description{
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
}
.features-img{
    width:50%
}
.features-img img{
    width: 100%;
    height: 95%;
}
.badge{
    width: fit-content;
    height: fit-content;
    border-radius: 8px;
    padding: 16px 32px;
    background: #FF900E;
    position: relative;
    margin-left: -10%;
    bottom: 90px;
}
.badge-tittle{
    color: #FFF;
    text-align: center;
    font-size: 4rem;
    font-weight: 700;
    line-height: 70px;
    margin-top: 0px;
    margin-bottom: 4px;
}
.badge-description{
    color: #FFF;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 40px;
    margin-bottom: 0px;
    margin-top: 0px;
}

/* Facts Section */
.fact-continer{
    padding: 40px 140px;
}
.fact-contain{
    width: 542px;
}
.fact-tittle{
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
    margin: 16px 0px;
}
.fact-description{
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
}
.fact-box{
    display: flex;
    text-align: center;
    justify-content: space-around;
    margin-top: 60px;
}
.box{
    width: 170px;
    height: fit-content;
    padding: 32px;
    border-radius: 8px;
    border: .1rem solid #FF900E;
    text-align: center;
}
.box-tittle{
    color:#424242;
    font-size: 2.8rem;
    font-weight: 600;
    margin: 4px 0px;
}
.box-detail{
    color:#727272;
    font-size: 1.2rem;
    font-weight: 600;
    margin: 4px 0px;
}
/* Sponspors Section */
.sponspors-continer{
    padding: 40px 140px;
}
.sponspors-cointien{
    text-align: center;
    width: 542px;
    margin: 50px auto;
}
.sponspors-tittle{
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
    margin: 16px 0px;
}
.sponspors-description{
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
}
.sponspors-logo{
    display: flex;
    justify-content: space-between;
}

/* Footer Section */
footer{
    background-color:#FFF4E7;
    margin: 50px 140px;
    border-radius: 8px;  
}

.footer-description{
    color: #424242;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    padding: 40px;
}



/* Responsive media quary */
/* Mobile devices */
@media screen and (max-width:576px) {
    header{
        padding: 20px;
}
    nav{
        flex-direction: column;
    }
    nav ul{
        padding: 0px;
        gap: 20px;
    }
    .tittle {
        font-size: 3.5rem;
    }
    /* main section */
    main{
        padding: 20px;
    }
    /* Teams-container */
    .teams-container{
        flex-direction: column;
        gap: 0px;
        padding: 0px;
    }
    .teams-img{
        grid-template-columns: 1fr;
    }
    .teams-img img{
        width: 100%;
    }
    /* Features-Section */
    .features-container{
        flex-direction: column;
        gap: 0px;
        padding: 0px;
    }
    .features-content {
        width: 100%;
    }
    .features-img{
        width: 100%;
    }
    .badge{
        position: static;
        margin: 0px;
        width: auto;
    }
    /* fact section  */
    .fact-continer{
        padding: 0px;
    }
    .fact-contain{
        width: auto;
    }
    .fact-box{
        flex-direction: column;
        align-items: center;
        gap: 16px;
        margin: 40px 0px;
    }
    .box{
        width: 70%;
    }
    /* Sponspor- section */
    .sponspors-continer{
        padding: 0px;
    }
    .sponspors-cointien{
        width: 100%;
    }
    .sponspors-logo{
        flex-direction: column;
        gap: 50px;
        align-items: center;
    }
    
    /* Footer Section */
    footer{
        margin:20px;
    }
    
}

/* Medium Devices */
@media screen and (min-width:576px) and (max-width:1024px) {
    header{
        padding: 50px;
}
    nav{
        flex-direction: column;

    }
    nav ul{
        padding: 0px;
        gap: 40px;
    }
    .tittle {
        font-size: 3.5rem;
    }
    /* main section */
    main{
        padding: 50px;
    }
    /* team section  */
    .teams-container{
        flex-direction:column-reverse;
        gap: 0px;
        padding: 0px;
    }
    .teams-img{
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
    }
    .teams-img img{
        width: 100%;
    }
    /* Features-Section */
    .features-container{
        flex-direction: column;
        gap: 0px;
        padding: 0px;
    }
    .features-content {
        width: 100%;
    }
    .features-img{
        width: 100%;
    }
    .badge{
        position: relative;
        margin: 0px;
        width: fit-content;
    }
    /* fact section  */
    .fact-continer{
        padding: 0px;
    }
    .fact-contain{
        width: auto;
    }
    .fact-box{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        gap: 16px;
        margin: 40px 0px;
    }
    .box{
        width: auto;
    }
    /* Sponspor- section */
    .sponspors-continer{
        padding: 0px;
    }
    .sponspors-cointien{
        width: 100%;
    }
    .sponspors-logo{
        flex-direction: column;
        gap: 50px;
        align-items: center;
    }
    /* Footer Section */
    footer{
        margin: 0px 50px;
    }
    
}