body{
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    
}
/* nav section  */
header{
    background-color: rgba(255, 144, 14, 0.10);
    padding: 40px 140px;
}
nav{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav h3{
    color: var(--Dark-01, #131313);
    text-align: center;
    font-size: 2.81em;
    font-weight: 600;
}
nav ul{
    display: flex;
    gap: 50px;
}
nav li{
    list-style: none;
    color: var(--Dark-02, #424242);
    text-align: center;
    font-size: 1.12em;
    font-weight: 500;
    line-height: 26px;
}

/* tittle section  */
.banner-container{
    text-align: center;
    max-width: 862px;
    margin: 0 auto;
}
.tittle{
    color: var(--Dark-01, #131313);
    font-size: 4em;
    font-weight: 700;
    margin: 10px;
}
.tittle-description{
    color: var(--Dark-03, #727272);
    text-align: center;
    font-size: 1em;
    font-weight: 400;
    line-height: 26px;
    margin-top: 16px;
    margin-bottom: 16px;
}
.primary-btn{
    width: 180px;
    height: 64px;
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    text-align: center;
    font-size: 1.25em;
    font-weight: 600;
    border: none;
    margin-top: 16px;
    margin-bottom: 50px;
}
.banner-img{
    width: 100%;
}

/* Responsive media quary */
/* Mobile devices */
@media screen and (max-width:576px) {
    header{
        padding: 20px;
}
    nav{
        flex-direction: column;
        /* margin: 0px; */
    }
    nav ul{
        padding: 0px;
        gap: 20px;
    }
    .tittle {
        font-size: 3.5em;
    }
}

/* Medium Devices */
@media screen and (min-width:576px) and (max-width:992px) {
    header{
        padding: 50px;
}
    nav{
        flex-direction: column;
        /* margin: 0px; */
    }
    nav ul{
        padding: 0px;
        gap: 40px;
    }
    .tittle {
        font-size: 3.5em;
    }
}